
body{
    background-color: rgb(0, 0, 34);
}
header{
    
    height: 10vb;
    top: 80px;
}
header h1,h4{
    color: aliceblue;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.conteudo h1{
    color: aliceblue;
    justify-content: center;
    position: relative;
    text-align: center;
    top: -90;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.logo{
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: -100px;
}

.logo img {
  width: 50%;
  position: relative;
 
    

}
.conteudo{
    color:aliceblue;
    display:block;
    position: relative;
    margin: 20px;
    top: -100px;
}

.fotos .foto-one{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;

}
.foto-one img{
    width: 70%;
    height: auto;
    border: 2px solid #ccc;
}